.logo {
    display: flex; /* Logoyu ve yazıyı yan yana getirir. */
    align-items: center; /* Dikeyde ortalar. */
    gap: 10px; /* iki eleman arasına boşluk koyar */
    cursor: pointer; /* üzerine gelince el simgesi çıkartır. */
}

.logo img {
    height: 50px; /* resmin boyutu */
    width: auto;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(59, 38, 7);
    letter-spacing: 1px;
}

:root {

    --primary-color: #22254b;
    --secondary-color: #373b69;
    --text-color: #ffffff;
}

*{
    box-sizing: border-box; /* kutuların boyutunun bozulmaması için */
}

body { 
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
}

header { 
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    outline: none;
}

.search:focus {
    background-color: var(--primary-color);
}

.search::placeholder {
    color: #7378c5;
}